<div class="wrapper">
    <div class="example-container" *ngIf="dataIsAvailable">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
  
        <div>
          <mat-form-field appearance="fill" class="form-group">
            <mat-label>Name</mat-label>
            <input matInput ngModel name='text' [(ngModel)]='name' class="form-control" placeholder="Type name here...">
            <button type="button" *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button *ngIf="!moreOpened" class="icon-btn" type="button" (click)="moreOpened=true;" mat-icon-button
            color="primary" matTooltip="More filtering options">
            <mat-icon>expand_more</mat-icon>
          </button>
          <button *ngIf="moreOpened" class="icon-btn" type="button" (click)="moreOpened=false;" mat-icon-button
            color="primary" matTooltip="Hide filtering options">
            <mat-icon>expand_less</mat-icon>
          </button>
  
          <button class="icon-btn" mat-icon-button class='icon' type="submit" color="accent" matTooltip="Filter!">
            <mat-icon>search</mat-icon>
          </button>
          <button matTooltip="Edit comment" class="icon-btn" mat-icon-button class='icon' type="button" matTooltip="Clear filter"
          (click)="clearFilter()" color="accent">
            <mat-icon>clear</mat-icon>
          </button>
  
        </div>
  
  <div  *ngIf="moreOpened">
        <mat-form-field appearance="fill" class="form-group">
          <mat-label>Location</mat-label>
          <input matInput ngModel name='location' [(ngModel)]='location' class="form-control"
            placeholder="Type location here...">
          <button type="button" mat-button *ngIf="location" matSuffix mat-icon-button aria-label="Clear"
            (click)="location=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
  
        <section class="example-section">
  
  
          <!--<hr>-->
  
          <span class="example-list-section cat" *ngFor="let c of categories; let i = index">
            <mat-checkbox class="example-margin" [checked]="allCompleteArray[i]" color="primary"
              [indeterminate]="someComplete1(i)" (change)="setAll1($event.checked, i)">
              {{c.name}}
            </mat-checkbox>
  
            <span class="example-list-section">
              <ul>
                <li *ngFor="let s of c.subcats; let j=index">
                  <mat-checkbox [(ngModel)]="s.completed" color="primary" (ngModelChange)="updateAllComplete1(i)"
                    value="vrednost" name="subcat{{s.id}}">
                    {{s.name}}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </span>
        </section>
      </div>
      </form>
  
    </div>
  </div>