
.info1 {
 
    text-align: left;
  }
  .info2{
    width: 100%;
  }
  
  .buttons {
    margin-top: 5px;
    text-align: right;
}
.naslov{
    text-align: center;
}  
.info {
 
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;

    text-align: center;
  }
  .opis{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .cont{
    width: 450%;
    height: 100px;
    text-align: center;
  }
//  textarea{
//      display: block;
//      margin-left: auto;
//      margin-right: auto;
//  }