h3 {
    // width: 100%;
    margin: 20px;
    padding: 7px;
    text-align: center;
    border: 1px solid red;
}

.offers {
    overflow-x: auto;
    // width: 100px;
    height: 85vh;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}