
<div *ngIf="!loggedIn">

    <div class="rating-container">
        <p><a [routerLink]="['/login']">Log in</a> or <a [routerLink]="['/registration']" >sign up</a>
            to leave your rating</p>
        <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" class="stars">
        </ngb-rating> 
        
    </div>
   

</div>

<div *ngIf="loggedIn">
    <div *ngIf="rated">
        <p>Your rating</p>
        <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="!updating" class="stars">
        </ngb-rating> 
        <div *ngIf="!updating">
            <button mat-raised-button color="primary" name="changeRatingButton" type="button" (click)="updating=true">Promijeni rating</button>
            <button mat-raised-button (click)="deleteRating()" name="deleteRatingButton" color="warn">Delete</button>
        </div>
        <div *ngIf="updating">
            <button mat-raised-button color="primary" id="saveUpdateB" name="saveUpdateButton" (click)="saveUpdate()" [disabled]="!starRating">Save update</button>
        </div>
    </div>
    <div *ngIf="!rated">
        <p>Rate offer</p>
        <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" class="stars">
        </ngb-rating> 
        <button mat-raised-button color="primary"  (click)="rateOffer()" name="rateButton" [disabled]="!starRating">Rate</button>
    </div>

    <div *ngIf="updating">

    </div>

</div>

