/*.box {
    width: 100%;
    // height: 100px;
    display: inline-block;
    margin: 0 auto;
    display: flex;
    // justify-content: center;
    border: 1px solid purple;
    margin: 5px;
    text-align: center;
}

.boxText {
    margin-left: 3px;
    text-align: left;
}
*/
.image {
    width: 100px;
    height: 150px;
}

.content {
   display: inline-block;
   //border: green 1px solid;
}

.imageDIV {
    //left: 70%;
    //margin-left: auto;
    //margin-right: 0;
    //margin-top: 10%;
    //margin-bottom: 5px;
    //display: inline-block;
    
    display: flex; 
    justify-content: flex-end;
    vertical-align: top;
}

.image-holder{
    
}

.boxTitle {
    margin-left: 2px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    flex: 0 0 50%;
}

.navigation {
    flex: 0 0 50%;
}



p {
    font-family: 'Noto Sans TC', sans-serif;
}
p.title > a {
    font-size: 50px;
    font-weight: bold;
}
//a {
//    font-weight: bold;
//}

.offer-item-link{
    font-size: 16px;
    font-weight: bold;
}

.star {
    height: 20px;
    width: 20px;
}

.item {
    //max-width: 400px;
    width: 100%;
    //border: 1px solid pink;
    //height: 200px;
}