<div class="item header">
    <div class='content logo'>
        <p class="title"><b><a routerLink="/offers/{{offer.id}}" (click)="saveOfferId(offer.id)" class=" offer-item-link">{{ offer.title }}</a></b></p>
        <p><a [routerLink]="" (click)="viewOnMap()">View on map</a></p>
        <p>Location: {{ offer.place}}</p>
        
        <div class="starsRating"> <!--<mat-icon class="star">star</mat-icon> -->
        Rating: {{offer.avgRating| number:'1.1-1'}} <img class="star" src="assets/img/star.png"> ({{offer.nmbOfRatings}} votes)</div>

        <p>Labels: </p>
    </div>
    
    <div class="imageDIV navigation">
        <img src="https://image.freepik.com/free-vector/cute-avocado-cartoon-hand-drawn-style_42349-476.jpg" alt="" class="image">
    </div>

</div>
