<app-navigation></app-navigation>
<div class="page">
   
    
    <div>
        
        <app-filter (filterClick)="filterClicked($event)"></app-filter>
        
        <!--<app-offers-table (pageChanged)="onPageChange($event)" [page] = "page" [paginatorDetails]="info"></app-offers-table>-->
        
        <!--<app-offer-info [page]="offersPage"></app-offer-info>-->

    </div>
    <div>
         <app-map [offers]="offersPage"></app-map>
    </div>
    <!-- <app-offer-modal></app-offer-modal> -->
</div>