/*.move {
    margin-left: 100px;
}


map {
    width: 500px;
    //height: 500px;
    //float: right;
    display: inline-block;
    vertical-align:top;
    //margin: 20px;

}
.wrapper {
    border: solid blue 1px;
    max-width: 400px;
    min-width: 300px;
    //float:left
    display: inline-block;
    margin-left: 20px;
    background-color: white;

}*/

.tabela {
    height: 92vh !important;
}