mat-form-field {
    width: 90%;
  }
  .btn-sec {
    margin-right: 5rem !important;
    text-align: right;
    margin-top: 1.5em;
  }
  .Update-btn {
    margin: 5px;
  }
  .Discard-btn {
    margin: 5px;
  }
  .text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
  }
  @media (max-width: 800px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  @media (max-width: 600px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  #content2{
    clear:both;   
   }
   .primary{
       font-size: 25px;
   }

 
  .novaForma{
    position: fixed;  
   
    left: 40%;
  }
  
h2{
  text-align: center;
}  
