<div *ngIf="!page.content.length">
    <p>No images to display.</p>
</div>
<div class="wrapper offers">
    <div *ngIf = "page.content">
        <div *ngFor = "let post of page.content">
            <app-image-item [post]="post" class="page"></app-image-item>
        <mat-divider class="divider" role="separator"></mat-divider>
       
        </div>
        
    </div>
</div>

    <mat-paginator style="
        display: flex;
        justify-content: left" 
        [length] = "paginatorDetails.length"
        [pageSize]="paginatorDetails.pageSize"
        [pageSizeOptions]="[1]"
        (page)="onClick($event)"
        >
    </mat-paginator>
