p {
    margin: 5px;
    // text-align: center;
}

.desc {
    // text-align: center;
    border: 2px solid black;
}

.confirmation-content {
    display: flex;
    // align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
    text-align: center;
}

img {
    padding-right: 3px;
    width: 21px;
    height: 21px;
}

.title {
    text-align: center;
}

.border {
    // width: fit-content;
    width: 100%;
    border-radius: 20px;
    background: antiquewhite;
    padding: 5px;
    margin: 3px;
    float: left;
}

ngb-rating {
    color: #FFC107;
    font-size: 39px;
    margin-bottom: 5%;
}

.ratSub {
    overflow: hidden;
}

.posts {
    width: auto;
    height: 300px;
    background-color: aquamarine;
}

.comments {
    width: auto;
    height: 300px;
    background-color: bisque;
}

.starsRating {
    float: left;
    padding: inherit;
}

.starText {
    margin: 5px;
}

.subBtn {
    margin-right: 5px;
}

.editBtn {
    float: right;
    margin: 3px;
}

::ng-deep .carousel-indicators {
    margin: auto;
    margin-left: 0%;
    margin-right: 0%;
}

.ng-star-inserted {
    margin: auto;
}