<p-dialog header={{informacije.title}} [(visible)]="displayModal" [style]="{width: '50vw'}" [baseZIndex]="10000">

    <p-button id="edit" label="Edit" class="editBtn" (click)="edit(informacije.id)"></p-button>
    <!-- ///////////////////////////////////////////////////////// -->
    <!-- <h1 style="text-align:center;">Angular 9 Material Carousel Slider</h1> -->

    <mat-carousel timings="750ms ease-in" [autoplay]="true" [interval]=3000 color="accent" maxWidth="auto" [proportion]=35 [slides]=offerImages.content.length [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false"
        orientation="ltr">
        <mat-carousel-slide #matCarouselSlide *ngFor="let image of offerImages.content; let i = index" [image]="image.imageBase64" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
    </mat-carousel>

    <!-- ....................................................... -->

    <div class="desc">
        <p><b>Description: </b>{{informacije.description}}</p>
    </div>
    <div class="ratSub">
        <div class="border rating">
            <div class="starsRating"> <img src="assets/img/star1.png"><b>{{informacije.avgRating| number:'1.1-1'}}/10, voted: {{informacije.nmbOfRatings}}
                    people</b></div>

            <p-button id="subBtn" label="Subscribe" class="subBtn" (click)="subscribe(informacije)"></p-button>
            <app-toast id="toast" [succ]="subSuccess" [color]="toastColor" [cond]="uslov"></app-toast>
            <!--  -->
        </div>
    </div>

    <!-- <br>
    <p><b>Place</b>: {{informacije.place}}</p>
    <div class="posts">
        <h1>P O S T S</h1>
    </div>

    <div class="comments">
        <h1> C O M M E N T S</h1>
    </div> -->

    <ng-template pTemplate="footer">
        <p-button id="okBtn" icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>

</p-dialog>