<form id="forma" [formGroup]="uploadForm" (ngSubmit)="submit()" class="form">
    <!-- Select File -->
    <input type="file" #fileInput accept="image/*" (change)="showPreview($event)" class="file-input" />

    <!-- Assign Image Alt -->
    <!-- <input class="form-control" placeholder="Enter name" type="text"> -->

    <!-- <button type="submit" class="btn btn-outline-secondary">Submit</button> -->
    <div class="input-group mb-3">
        <p-button id="addImage" (click)="fileInput.click()" matTooltip=" Upload image ">Add picture</p-button>
        <input id="desc" type="text" class="form-control" formControlName="description" placeholder="Enter image description" aria-describedby="basic-addon2" required [pattern]="descPattern">
        <!-- //value={{fileInput.value.slice(12)}} -->
        <div class="input-group-append">
            <p-button id="submit" matTooltip=" Upload image " (click)="submit()"> Submit</p-button>
        </div>
    </div>
    <!-- <p class="error">{{error}} {{error1}} </p>
    <p class="error" *ngIf="uploadForm.get('description').errors?.pattern">Invalid image description (only numbers and letters are allowed, 20 characters max)!</p> -->

    <!-- Image Preview -->
    <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
        <img [src]="imageURL" [alt]="uploadForm.value.name" class="image">
    </div>


</form>
<app-toast id="toast" [succ]="subSuccess" [color]="toastColor" [cond]="cond"></app-toast>
<app-toast id="toast1" *ngIf="uploadForm.get('description').errors?.pattern">idemo nedje</app-toast>