<h2 class="center" >Comments</h2>
<app-comment-edit *ngIf="!admin" (newComment)="onNewComment()" editing=false 
(done)="openSnackBar($event)"></app-comment-edit>

<hr>

<div class="row" *ngIf="dataReady">
    <div  class="comment" *ngFor = "let comment of content.content">
        <app-comment 
        (done)="openSnackBar($event)" *ngIf="!comment.editing" [comment]="comment"
        (commentDeleted)="onCommentDeleted()" (clickedEdit)="onClickedEdit($event)"></app-comment>  
        
        <app-comment-edit *ngIf="comment.editing" (commentDeleted)="onCommentDeleted()"
        (done)="openSnackBar($event)"
        (dogadjaj)="radiNesto()"
        (commentEdited)="onCommentEdited($event)"
        (commentNew)="newComment($event)"
        (commentCreated)="onCommentCreated($event)"
        [comment]="comment" editing=true [canEdit]="comment.canEdit"></app-comment-edit>        

        <hr>
    </div>
    <div class="row row-text" *ngIf="!content.content.length">
        <p>No comments to display.</p>
    </div>
    <mat-paginator class="row bottom" style="
    display: flex;
    justify-content: center" 
    [length] = "paginatorDetails.length"
    [pageSize]="paginatorDetails.pageSize"
    [pageSizeOptions]="[5, 10, 25]"
    (page)="onClick($event)"
    >
    </mat-paginator>
</div>
