.row {
    width: 1000px;
    margin: auto;
}
.comment{
    width: 100%;
}

:ng-deep .warinng .blue-snackbar {
   background: blue;
}

.bottom {
    margin-bottom: 50px;
}

.row-text{
    text-align: center;
}